# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js build output
.next/
out/
build/
dist/

# Documentation
docs/

# Misc & Local Env
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel & Supabase local
.vercel/
.supabase/

.agent/
.docs/